            @charset "utf-8";
			
			/*Versao Mobile First*/
			* {
				font-family: Arial, Helvetica, sans-serif;
				font-size: 1em;
				margin: 0px;
				padding: 0px;
				box-sizing: border-box;
			}
		    html {
				height: 100vh;
			}
			@media screen and (max-width: 768px) {
			body {
				background: black url(file:///E:/PROGRAMACAO/img/coc.png) no-repeat;
			}
			}
				body {
				/*background: black url(file:///E:/PROGRAMACAO/img/coc.png) no-repeat;*/
				background-size: cover;
				background-position: center center;
			}
			main {
				background-color: rgba(255, 255, 255, 0.842);
				width: 400px;
				margin: auto;
				margin-top: 20px;
				border-radius: 10px;
				padding: 10px;
			}
			h1 {
				text-align: center;
				color: #fff;
				font-size: 2em;
				text-shadow: 2px 2px 2px black;
			}
			img {
				display: block;
				margin: auto;
			}
			#phone { display: block; }
			#tablet {display: none; }
			#print { display: none; }
			#pc { display: none; }
			#tv { display: none; }
				