          @charset "UTF-8";
		  /*Estilos para impressoras*/  
		  * {
			  margin: 10px;
			  padding: 10px;
		  }
		  html,body {
			  font-family: 'Courier New', Courier, monospace;
			  font-size: 1em;
			  line-height: 1.5em;
		  }
		  menu {
			  display: none;
		  }
		  article {
			  width: 100%;
		  }
		  article::after {
			  content: 'Esse artigo foi impresso atraves do site www.amilton.com';
		  }