            @charset "utf-8";
			:root {
				--fonte1: verdana, Genava, Tahona, sans-serif;
				--fonte2: italic, cursive;
				--fonte3: cursive;
			}
			* {
				margin: 0px;
				padding: 0px;
				font-size: 4vw;
			}
			html, body {
				min-height: 100vh;
				background-color: lightgray;
				font-family: var(--fonte1);
			}
			header {
				background-color: black;
				color: #fff;
				text-align: center;
			}
			header > h1 {
				padding-bottom: 50px;
				font-variant: small-caps;
				font-family: var(--fonte2);
				font-size: 3em;
			}
			header > p {
				padding-bottom: 50px;
			}
			header a,footer a {
				color: #fff;
				text-decoration: none;
				font-weight: bolder;
			}
			a:hover, footer a:hover {
				text-decoration: underline;
			}
			section {
				padding-top: 10vh;
				padding-bottom: 10vh;
				line-height: 2em;
				font-family: var(--fonte3);
				font-size: 3.5vW;
			}
			section > p {
				margin: 10px;
				padding-bottom: 1em;
			}
			section.normal {
				background-color: #fff;
				color: #000000;
			}
			section.imagem {
				background-color: rgba(51, 51, 51);
				color: #fff;
				text-shadow:  inset 6px 6px 13px 0px black;
				background-size: cover;
				background-attachment: fixed;
			}
			section.imagem > p {
				display: inline-block;
				padding: 5px;
				background-color: rgba(0,0,0,0.514);
				text-shadow: 2px 2px 0px black;
			}
			#img01{
				background-image:url('https://amiltongovegove.github.io/programacao/imagens/img/ff.png');
				background-position: right center;
			}
			#img02{
				background-image:url('https://amiltongovegove.github.io/programacao/imagens/img/coc.png');
			}
			footer {
				background-color: black;
				color: #fff;
				text-align: center;
				padding: 10px;
			}
			
				
			