             h2{
		     font-size: 15pt;
             color: #606060;
             background-color: #dddddd;
             padding: 10px;
             margin: 10px;
             }
			 img{
             width:25%;
             position: relative;
             left: 35% ;
             }
             table#tabelajogos{
             border: 1px solid #606060;
             border-spacing: 0px;
             margin-left:auto;
             margin-right:auto;
             }
             table#tabelajogos td{
             border: 1px solid #606060;
             padding: 10px;
             }
             table#tabelajogos td.ce {
             color:#ffffff;
             background-color: #606060;             
             vertical-align: top;
             font-weight: bold;
             }
             table#tabelajogos td.cd {
             background-color: #cecece;  
             }  
			 .ssite{
			 font-size: 20pt;
			 background: green;
             color: white;
			 width: 99%;
             height: 150%;
             line-height: 150%; 
             text-align: center;
			 cursor: pointer;
			 transition: background-color 0.4s;
			 margin: 0.5%;
             }	
             .ssite:hover{
			 background: rgb(0, 51, 0);
			 }