              *{
                padding: 10px;
                margin: 10px;
              }
              legend{
              font-family:Arial;
              font-size:20pt;
              color:gray; 
              }
              fieldset{
              margin-bottom: 10px;
              }
             