              
              legend{
              font-family:Arial;
              font-size:20pt;
              color:gray; 
              }
              fieldset{
              margin-bottom: 20px;
              }
             