                     @charset "UTF-8";
                     
					 * {
						 padding: 0px;
						 margin: 0px;
					 }
                     body {
					 font-family: sans-serif;
	                 /* Exibição flexível.                          */
	                 /* Torna o elemento um flex container          */
	                 /* e os seus elementos internos em flex-itens. */
	                 display: flex;
	                 /* Quebra de linha quando os itens não couberem na largura da tela. */
	                 flex-wrap: wrap;

	                 /* Junção de flex-grow, flex-shrink e flex-basis.  */
	                 /* flex-grow – Habilidade de um flex item crescer. */
	                 /* flex-shrink - Capacidade de redução do item.    */
	                 /* flex-basis – Tamanho inicial do item.           */
	                 flex: 1 1 100vw;

	                 /* Margem de todos os lados. */
	                 margin: 3px;
	                 background: lightgray;
                     }

                     /* Formatação comum entre os elementos. */
                     main, aside, footer {
	                 /* Cor do fundo. */
	                 background: #fff;
	                 /* Exibição flexível.                          */
	                 /* Torna o elemento um flex container          */
	                 /* e os seus elementos internos em flex-itens. */
	                 display: block;

	                 /* Margem externa de todos os lados. */
	                 margin: 3px;
	                 padding: 10px;
	                 border-radius: 5px;
                     }

                     main {
	                 /* Junção de flex-grow, flex-shrink e flex-basis.  */
	                 /* flex-grow – Habilidade de um flex item crescer. */
	                 /* flex-shrink - Capacidade de redução do item.    */
	                 /* flex-basis – Tamanho inicial do item.           */
	                 flex: 20 1 500px;
                     }

                     aside {
	                 /* Junção de flex-grow, flex-shrink e flex-basis.  */
	                 /* flex-grow – Habilidade de um flex item crescer. */
	                 /* flex-shrink - Capacidade de redução do item.    */
	                 /* flex-basis – Tamanho inicial do item.           */
	                 flex: 1 1 200px;
                     }

                     footer {
	                 /* Junção de flex-grow, flex-shrink e flex-basis.  */
	                 /* flex-grow – Habilidade de um flex item crescer. */
	                 /* flex-shrink - Capacidade de redução do item.    */
	                 /* flex-basis – Tamanho inicial do item.           */
	                 flex: 1 1 100vw;
                     }