         div.bod{
             width:80%;
             background-color: white ;
             margin: 10px auto 10px auto;
             padding:1px;
             } 
         body{
              background-color: gray;
              font-family: Arial;
              font-size: 10pt;
             }

         h1{
              font-family:Arial;
              font-size:30pt;
              color:gray; 
             }

         header#cabecalho {
              height: 100px; 
             }

         p{
              text-align: justify;
              text-indent: 20px;
             }

         article h1{
              font-size:15pt;
              color: #ffffff;
              background-color :#dddddd;
              padding: 5px;
              margin: 0px;
             }

         article h1{
              font-size:12pt;
              color: #606060;
              background-color: #dddddd;
              padding: 5px 0px 5px 10px;
              margin: 10px 0px 10px 0px;
             }

         article{
              margin-bottom: 10px;
             }
         img{
              width:10%;
              position: relative;
              top: -5%;
              left: 90%;
             }    

         img#jogo{
              width:10%;
              position: relative;
              top: -100px;
              left: 104%;
             }
             
         footer#rodape p {
              text-align: center;
             }  
